<div class="row justify-content-center mb-4">
    <div class="col-md-4">
        <h1>Hi {{currentUsername}}!</h1>
        <p>You're logged in with Angular 8!!</p>
        <h3>All login audit :</h3>
    </div>
</div>

<!-- <ul>
    <li *ngFor="let audit of audits">
        <br/><span class="badge badge-primary">{{audit.user}}</span>
        <br/><span class="badge badge-secondary">{{audit._id}}</span>
        <br/>Login - {{audit.loginTime}}
        <br/>Logout - {{audit.logoutTime}}
        <br/>IP - {{audit.ip}}
    </li>

</ul> -->

<div class="container">  
    <div class="row">
        <!-- pagination  -->
        <div class="col-md-4">
            <ul class="pagination pagination-lg">
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">10</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">20</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
              </ul>
        </div>
        <!-- search filter  -->
        <div class="col-md-4">
            <input type="text" id="myInput" class="p-2" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        </div>

        <!-- date formate  -->
        <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-primary p-2" type="button" data-toggle="dropdown">Date Formate
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">12 hr</a></li>
                  <li><a href="#">24 hr</a></li>
                </ul>
              </div>
        </div>
    </div>              
  </div>

<!-- table  -->
<table style="width: 100%;" id="myTable" class="table table-bordered">
    <thead>
        <tr>
            <th>AUDIT USER  </th>
            <th>AUDIT ID</th>
            <th>LOGIN TIME</th>
            <th>LOGOUT TIME</th>
            <th>AUDIT IP</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let audit of audits">
            <td>{{audit.user}}</td>
            <td>{{audit._id}}</td>
            <td>{{audit.loginTime   }}</td>
            <td>{{audit.logoutTime}}</td>
            <td>{{audit.ip}}</td>
        </tr>
    </tbody>
</table>

<!-- table js  -->
<script>

function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>